/* {
  border: red solid 1px;
}*/
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(images/Draft\ Background.jpg);
  background-repeat: no-repeat;
  background-color: #000000;
  background-position: center;
  padding: 193px 0px;

}

#title {
  color: rgb(0, 170, 255);
  /*color: black;*/
  margin-bottom: 125px;
  font-size: 50px;
}

button {
  border-radius: 100px;
  font-size: 40px;
  padding: 20px;
  background-color: rgba(0, 55, 195, 0.627);
}